# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/
.cache/
.next/
out/
coverage/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
